{
  "ignore": [
    "node_modules",
    "dist"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "useBuiltIns": "usage",
        "modules": "umd"
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        ["minify", {"mangle": false}]
      ]
    }
  }
}
