<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pecorino Service</title>
    <link rel="stylesheet" href="/public/pecorino.css">
  </head>
  <body>
    <div class="root">
      <h1>Pecorino service</h1>
      <hl></hl>
      <div>
        <label>产品：</label>
        <span><%= production %></span>
      </div>
      <div>
        <label>版本：</label>
        <span><%= version %></span>
      </div>
      <div>
        <label>配置：</label>
        <span><%= env %></span>
      </div>
    </div>
  </body>
</html>
